<a href="https://colab.research.google.com/github/IshitaSrivastava28700/Python-Programming/blob/main/%5BISHITA_SRIVASTAVA%5D_(590028700)_(PYTHON_PROGRAMMING_ASSIGNMENT)_(SOCS)_%5BB_TECH(CSE)%5D_(B79).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**[ISHITA SRIVASTAVA]**  

**(590028700)**

**(B79)**

**[B.TECH(CSE)]**  

**(SOCS)**  

**(PYTHON PROGRAMMING EXPERIMENT-01)**

**( Python Installation and Basic Python Statements )**

**1.** **Install Python and write the steps of installation and understand difference between scripting and
interactive modes in IDLE.**

**Steps to Install Python:-**
1.Download Python

Go to the official website: python.org.

Click on Downloads and choose the latest version for your operating system (Windows/Mac/Linux).


2.Run the Installer

Double-click the downloaded file.

On Windows, check the box “Add Python to PATH” (important for running Python from the command line).

Click Install Now.




3.Verify Installation

Open Command Prompt (Windows) or Terminal (Mac/Linux).


python --version



If it shows the version number (e.g., Python 3.12.1), installation is successful.




4.Open IDLE

IDLE (Integrated Development and Learning Environment) is installed automatically with Python.

You can find it in your Start Menu (Windows) or Applications (Mac).


**Difference between scripting and interactive modes in IDLE:-**



In Python’s IDLE, we can work in two modes: interactive mode and script mode. In interactive mode, we type commands directly into the Python shell, and each command is executed immediately after pressing Enter. This is useful for quick testing, calculations, or learning small pieces of code because we get instant results line by line. In contrast, script mode allows us to write a complete program in a separate file with a .py extension using the IDLE editor. After writing the program, we run the entire file at once, and the output is displayed in the shell. Script mode is better for writing longer programs, saving them for future use, and running them as a whole. In short, interactive mode is for immediate execution of single commands, while script mode is for writing, saving, and executing full programs.

**2.** **Create a variable to store your age and print its type using type().**

In [ ]:
# Program to store age in a variable and display its type

try:
    # Input age from user
    age = int(input("Enter your age: "))  # Convert input to integer

    # Display stored age
    print(f"Your age is: {age}")

    # Display the type of the variable
    print(f"Data type of 'age' variable: {type(age)}")

except ValueError:
    # Handle non-integer input
    print("Invalid input! Please enter a valid integer for age.")

Enter your age: 17
Your age is: 17
Data type of 'age' variable: <class 'int'>

**3.** **Declare a string variable called x and assign it the value “Hello”.**
       **a.Print out the value of x**

In [ ]:
# Declare a string variable and assign it the value "Hello"
x = "Hello"

# Print the value of x
print(x)

Hello

**4.** **Take different data types and print values using print function.**

In [ ]:
# Demonstrating printing of different data types in Python

# Different data types
integer_val = 42                # int
float_val = 3.14159              # float
string_val = "Hello, Python!"    # string
boolean_val = True               # bool
list_val = [1, 2, 3, 4]          # list
tuple_val = ('a', 'b', 'c')      # tuple
dict_val = {"name": "Alice", "age": 25}  # dictionary
none_val = None                  # NoneType

# Printing each variable separately
print("Integer:", integer_val)
print("Float:", float_val)
print("String:", string_val)
print("Boolean:", boolean_val)
print("List:", list_val)
print("Tuple:", tuple_val)
print("Dictionary:", dict_val)
print("NoneType:", none_val)

# Printing multiple values in one statement (comma-separated)
print("\nMultiple values together:", integer_val, float_val, string_val, boolean_val)

# Using f-string for formatted output
print(f"\nFormatted Output -> Integer: {integer_val}, Float: {float_val}, String: '{string_val}'")

# Using str.format() method
print("\nUsing format(): Integer: {}, Float: {}, String: '{}'".format(integer_val, float_val, string_val))

# Printing with custom separator and end
print("\nCustom separator and end example:")
print(integer_val, float_val, string_val, sep=" | ", end=" <-- End of Line\n")

Integer: 42
Float: 3.14159
String: Hello, Python!
Boolean: True
List: [1, 2, 3, 4]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 25}
NoneType: None

Multiple values together: 42 3.14159 Hello, Python! True

Formatted Output -> Integer: 42, Float: 3.14159, String: 'Hello, Python!'

Using format(): Integer: 42, Float: 3.14159, String: 'Hello, Python!'

Custom separator and end example:
42 | 3.14159 | Hello, Python! <-- End of Line

**5.** **Declare these variables (x, y and z) as integers. Assign a value of 9 to x, Assign a value of 7 to y, perform addition, multiplication, division and subtraction on these two variables and Print out the result.**

In [ ]:
# Declare variables
x = 9   # assign 9 to x
y = 7   # assign 7 to y

# Perform operations
addition = x + y
subtraction = x - y
multiplication = x * y
division = x / y   # gives float result

# Print results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)

Addition: 16
Subtraction: 2
Multiplication: 63
Division: 1.2857142857142858

**6.** **Write a program to compute the length of the hypotenuse (c) of a right triangle using Pythagoras
theorem.**

In [ ]:
import math

# Input the lengths of the two sides
a = float(input("Enter length of side a: "))
b = float(input("Enter length of side b: "))

# Compute hypotenuse using Pythagoras theorem
c = math.sqrt(a**2 + b**2)

# Print result
print("The length of the hypotenuse is:", c)

Enter length of side a: 3
Enter length of side b: 4
The length of the hypotenuse is: 5.0

**7.** **Write a program to find simple interest.**

In [ ]:
# Program to calculate Simple Interest

# Input values
P = float(input("Enter the Principal amount: "))
R = float(input("Enter the Rate of interest (% per annum): "))
T = float(input("Enter the Time (in years): "))

# Calculate Simple Interest
SI = (P * R * T) / 100

# Print result
print("The Simple Interest is:", SI)

Enter the Principal amount: 1000
Enter the Rate of interest (% per annum): 5
Enter the Time (in years): 2
The Simple Interest is: 100.0

**8.** **Write a program to find area of triangle when length of sides are given.**

In [ ]:
import math

# Input lengths of the sides
a = float(input("Enter length of side a: "))
b = float(input("Enter length of side b: "))
c = float(input("Enter length of side c: "))

# Calculate semi-perimeter
s = (a + b + c) / 2

# Calculate area using Heron's formula
area = math.sqrt(s * (s - a) * (s - b) * (s - c))

# Print result
print("The area of the triangle is:", area)

Enter length of side a: 5
Enter length of side b: 6
Enter length of side c: 7
The area of the triangle is: 14.696938456699069

**9.** **Write a program to convert given seconds into hours, minutes and remaining seconds.**

In [ ]:
# Program to convert seconds into hours, minutes and seconds

# Input total seconds
total_seconds = int(input("Enter total seconds: "))

# Calculate hours, minutes, and remaining seconds
hours = total_seconds // 3600
minutes = (total_seconds % 3600) // 60
seconds = total_seconds % 60

# Print result
print("Hours:", hours)
print("Minutes:", minutes)
print("Seconds:", seconds)

Enter total seconds: 3672
Hours: 1
Minutes: 1
Seconds: 12

**10.** **Write a program to swap two numbers without taking additional variable.**

In [ ]:
# Swap two numbers without using a third variable
a, b = map(int, input("Enter two numbers: ").split())

# Swapping using tuple unpacking
a, b = b, a

print("After swapping: a =", a, "b =", b)

Enter two numbers: 5 10
After swapping: a = 10 b = 5

**11.** **Write a program to find sum of first n natural numbers.**

In [ ]:
# Program to find sum of first n natural numbers

try:
    n = int(input("Enter a positive integer: "))
    if n < 1:
        print("Please enter a number greater than 0.")
    else:
        total = n * (n + 1) // 2  # Formula-based calculation
        print(f"Sum of first {n} natural numbers is: {total}")
except ValueError:
    print("Invalid input! Please enter an integer.")

Enter a positive integer: 5
Sum of first 5 natural numbers is: 15

**12.** **Write a program to print truth table for bitwise operators (&, | and ^ operators)**

In [ ]:
# Truth table for bitwise &, |, and ^ operators
print("A B | A&B A|B A^B")
print("-"*20)
for A in (0, 1):
    for B in (0, 1):
        print(f"{A} {B} |  {A & B}   {A | B}   {A ^ B}")

A B | A&B A|B A^B
--------------------
0 0 |  0   0   0
0 1 |  0   1   1
1 0 |  0   1   1
1 1 |  1   1   0

**13.** **Write a program to find left shift and right shift values of a given number.**

In [ ]:
# Program to find left shift and right shift values

try:
    num = int(input("Enter a number: "))
    shift = int(input("Enter shift amount: "))

    # Left shift (<<) multiplies by 2^shift
    left_shift = num << shift
    # Right shift (>>) divides by 2^shift (floor division)
    right_shift = num >> shift

    print(f"{num} << {shift} = {left_shift}")
    print(f"{num} >> {shift} = {right_shift}")

except ValueError:
    print("Please enter valid integers.")

Enter a number: 8
Enter shift amount: 2
8 << 2 = 32
8 >> 2 = 2

**14.** **Using membership operator find whether a given number is in sequence (10,20,56,78,89)**

In [ ]:
# Program to check if a number is in a given sequence using membership operator

# Define the sequence (tuple)
sequence = (10, 20, 56, 78, 89)

try:
    # Take user input
    num = int(input("Enter a number to check: "))

    # Use membership operator 'in'
    if num in sequence:
        print(f"{num} is present in the sequence {sequence}.")
    else:
        print(f"{num} is NOT present in the sequence {sequence}.")

except ValueError:
    print("Invalid input! Please enter an integer.")

Enter a number to check: 56
56 is present in the sequence (10, 20, 56, 78, 89).