<a href="https://colab.research.google.com/github/IshitaSrivastava28700/Python-Programming/blob/main/%5BISHITA_SRIVASTAVA%5D_(590028700)_(PYTHON_PROGRAMMING_ASSIGNMENT_EXPERIMENT_06)_%5BB_TECH(CSE)%5D_%5BSOCS%5D_(B79).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**[ISHITA SRIVASTAVA]**

**(590028700)**

**(B79)**

**[B.TECH(CSE)]**

**[SOCS]**

**(PYTHON PROGRAMMING EXPERIMENT-06)**

**1.**  **Write a Python function to find the maximum and minimum numbers from a sequence
of numbers.  (Note: Do not use built-in functions.)**

In [ ]:
def find_max_min(numbers):
    # Assume the first element is both max and min initially
    maximum = numbers[0]
    minimum = numbers[0]

    # Loop through the sequence
    for num in numbers[1:]:
        if num > maximum:
            maximum = num
        if num < minimum:
            minimum = num

    return maximum, minimum

# Example usage:
sequence = [12, 4, 56, 7, -3, 45, 0]
max_num, min_num = find_max_min(sequence)
print("Maximum:", max_num)
print("Minimum:", min_num)

Maximum: 56
Minimum: -3

**2.** **Write a Python function that takes a positive integer and returns the sum of the cube of
all the positive integers smaller than the specified number.**

In [ ]:
def sum_of_cubes(n):
    if n <= 1:
        return 0  # No positive integers smaller than 1

    total = 0
    for i in range(1, n):
        total += i ** 3
    return total

# Example usage:
num = 5
result = sum_of_cubes(num)
print(f"Sum of cubes of positive integers smaller than {num} is: {result}")

Sum of cubes of positive integers smaller than 5 is: 100

**3.** **Write a Python function to print 1 to n using recursion. (Note: Do not use loop)**

In [ ]:
def print_numbers(n, current=1):
    if current > n:
        return
    print(current)
    print_numbers(n, current + 1)

# Example usage:
print_numbers(10)

1
2
3
4
5
6
7
8
9
10

**4.** **Write a recursive function to print Fibonacci series upto n terms.**

In [ ]:
def fibonacci_series(n, a=0, b=1, count=0):
    if count >= n:
        return
    print(a, end=" ")
    fibonacci_series(n, b, a + b, count + 1)

# Example usage:
fibonacci_series(10)

0 1 1 2 3 5 8 13 21 34

**5.**  **Write a lambda function to find volume of cone.**

In [ ]:
import math

# Lambda function for volume of cone
volume_cone = lambda r, h: (1/3) * math.pi * (r ** 2) * h

# Example usage:
radius = 3
height = 5
print("Volume of cone:", volume_cone(radius, height))

Volume of cone: 47.12388980384689

**6.** **Write a lambda function which gives tuple of max and min from a list**.

**Sample input: [10, 6, 8, 90, 12, 56]**

**Sample output: (90,6)**

In [ ]:
# Lambda function for max and min
max_min = lambda lst: (max(lst), min(lst))

# Example usage:
numbers = [10, 6, 8, 90, 12, 56]
result = max_min(numbers)
print(result)

(90, 6)

**7.** **Write functions to explain the mentioned concepts:**

**a. Keyword argument**

**b. Default argument**

**c. Variable-length argument**

In [ ]:
def greet(name, city):
    print("Name:", name)
    print("City:", city)

# Example usage
greet(city="Amritsar", name="Ritika")

Name: Ritika
City: Amritsar

In [ ]:
def greet(name, city="Surat"):
    print("Name:", name)
    print("City:", city)

# Example usage
greet("Vikas")            # city uses default value
greet("Pooja", "Nagpur")  # city is overridden

Name: Vikas
City: Surat
Name: Pooja
City: Nagpur

In [ ]:
def add_numbers(*nums):
    total = 0
    for n in nums:
        total += n
    print("Sum:", total)

# Example usage
add_numbers(4, 9, 12)

Sum: 25

In [ ]:
def show_info(**info):
    for key, value in info.items():
        print(key, ":", value)

# Example usage
show_info(name="Deepa", age=26, city="Mysore")

name : Deepa
age : 26
city : Mysore

**8.** **Write a program to check whether all the values in a dictionary are the same or not using
a lambda function.**

In [ ]:
# Lambda function to check if all values in a dictionary are the same
check_values = lambda d: len(set(d.values())) == 1

# Example usage
dict1 = {"a": 10, "b": 10, "c": 10}
dict2 = {"x": 5, "y": 7, "z": 5}

print("Dict1:", check_values(dict1))  # True
print("Dict2:", check_values(dict2))  # False

Dict1: True
Dict2: False

**9.** **Write a program to create two lists and generate a dictionary with keys from list1 and
values from list2.**

In [ ]:
# Create two lists
list1 = ["book1", "book2", "book3"]
list2 = ["Physics", "Chemistry", "Mathematics"]

# Generate dictionary using zip()
subject_dict = dict(zip(list1, list2))

# Print the dictionary
print("Generated Dictionary:", subject_dict)

Generated Dictionary: {'book1': 'Physics', 'book2': 'Chemistry', 'book3': 'Mathematics'}