<a href="https://colab.research.google.com/github/IshitaSrivastava28700/Python-Programming/blob/main/%5BISHITA_SRIVASTAVA%5D_(590028700)_(PYTHON_PROGRAMMING_ASSIGNMENT_EXPERIMENT_03)_(SOCS)_%5BB_TECH(CSE)%5D_(B79).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**[ISHITA SRIVASTAVA]**

**(590028700)**

**(B79)**

**[B.TECH(CSE)]**

**[SOCS]**

**(PYTHON PROGRAMMING EXPERIMENT-03)**

**Experiment 3: Loops**

**1.** **Find a factorial of given number.**

In [ ]:
# Program to find factorial of a number using loops
num = int(input("Enter a number: "))
fact = 1
for i in range(1, num + 1):   # loop from 1 to num
    fact *= i                 # multiply fact by i
print("Factorial:", fact)

Enter a number: 5
Factorial: 120

**2.**	**Find whether the given number is Armstrong number.**

In [ ]:
# Armstrong number: sum of cubes of digits = number itself
num = int(input("Enter a number: "))
temp = num
sum_val = 0
while temp > 0:
    digit = temp % 10         # extract last digit
    sum_val += digit ** 3     # cube and add
    temp //= 10               # remove last digit
print("Armstrong Number" if sum_val == num else "Not Armstrong")

Enter a number: 153
Armstrong Number

**3.**	**Print Fibonacci series up to given term.**

In [ ]:
# Fibonacci series: 0,1,1,2,3,5,...
n = int(input("Enter number of terms: "))
a, b = 0, 1
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b           # update values
print()

Enter number of terms: 7
0 1 1 2 3 5 8

**4.**	**Write a program to find if given number is prime number or not.**

In [ ]:
# Prime number: divisible only by 1 and itself
num = int(input("Enter a number: "))
is_prime = True
if num < 2:
    is_prime = False
else:
    for i in range(2, int(num**0.5) + 1):  # check divisors up to sqrt(num)
        if num % i == 0:
            is_prime = False
            break
print("Prime" if is_prime else "Not Prime")

Enter a number: 2
Prime

**5.**	**Check whether given number is palindrome or not.**

In [ ]:
# Palindrome: number/string same forwards and backwards
num = input("Enter a number: ")
print("Palindrome" if num == num[::-1] else "Not Palindrome")

Enter a number: 121
Palindrome

**6.**  **Write a program to print sum of digits.**

In [ ]:
# Sum of digits of a number
num = int(input("Enter a number: "))
sum_digits = 0
while num > 0:
    sum_digits += num % 10    # add last digit
    num //= 10                # remove last digit
print("Sum of digits:", sum_digits)

Enter a number: 987
Sum of digits: 24

**7.**	**Count and print all numbers divisible by 5 or 7 between 1 to 100.**

In [ ]:
# Program to print and count numbers divisible by 5 or 7 between 1 and 100

# Initialize a counter to keep track of how many numbers are found
count = 0

print("Numbers divisible by 5 or 7 between 1 and 100:")

# Loop through numbers from 1 to 100
for num in range(1, 101):
    # Check if the number is divisible by 5 or 7
    if num % 5 == 0 or num % 7 == 0:
        print(num, end=" ")   # Print the number on the same line
        count += 1            # Increase the counter by 1

# Print the total count at the end
print(f"\nTotal count: {count}")

Numbers divisible by 5 or 7 between 1 and 100:
5 7 10 14 15 20 21 25 28 30 35 40 42 45 49 50 55 56 60 63 65 70 75 77 80 84 85 90 91 95 98 100
Total count: 32

**8.**	**Convert all lower cases to upper case in a string.**

In [ ]:
# Convert string to uppercase
text = input("Enter a string: ")
print("Uppercase:", text.upper())

Enter a string: abc
Uppercase: ABC

**9.**	**Print the table for a given number:**
             **5 * 1 = 5**
            ......**5 * 2 = 10………..**

In [ ]:
# Program to print the multiplication table for a given number

# Take input from the user
num = int(input("Enter the number for its multiplication table: "))

# Print the table from 1 to 10
print(f"Multiplication table for {num}:")
for i in range(1, 11):  # Loop from 1 to 10
    result = num * i    # Multiply the number with i
    print(f"{num} * {i} = {result}")  # Print in table format

Enter the number for its multiplication table: 5
Multiplication table for 5:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

**10.**  **Write a program to print the following pattern**

123454321

1234 *4321

123  * * 321

12   * * *  21

1    * * * *   1

In [ ]:
# The number of rows for the pattern
rows = 5

# Outer loop to iterate through each row
for i in range(1, rows + 1):
    # Inner loop to print the ascending numbers
    # The range goes from 1 up to (rows - i + 1)
    for j in range(1, rows - i + 2):
        print(j, end="")

    # Inner loop to print the stars
    # The number of stars is 2*(i-1)
    for k in range(1, 2 * (i - 1) + 1):
        print("*", end="")

    # Inner loop to print the descending numbers
    # The range goes from (rows - i + 1) down to 1
    # The first row doesn't print this part as the range is invalid (5 down to 1 in this logic)
    # A conditional check is used to handle the first row's specific number sequence
    if i == 1:
        for l in range(rows - i, 0, -1):
            print(l, end="")
    else:
        for l in range(rows - i + 1, 0, -1):
            print(l, end="")

    # Move to the next line after the row is printed
    print()

123454321
1234**4321
123****321
12******21
1********1

**11.**	 **Write a program to print the sum of the following series
1+ ½ + 1/3 + ¼ +….+1/n**

In [ ]:
# Program to calculate the sum of the series:
# 1 + 1/2 + 1/3 + 1/4 + ... + 1/n

# Take input from the user for n
n = int(input("Enter the value of n: "))

# Initialize sum to 0
series_sum = 0

# Loop from 1 to n
for i in range(1, n + 1):
    series_sum += 1 / i   # Add the reciprocal of i to the sum

# Print the result
print(f"The sum of the series up to 1/{n} is: {series_sum}")

Enter the value of n: 5
The sum of the series up to 1/5 is: 2.283333333333333